<!-- /Include header -->

<%-  include('./partials/header')  %>
<button id="btn"> Click me</button>
    <h1>Hello ji</h1>

    <p> Kaise ho mere  pyare desh vasiyo</p>



    <!-- /Include footer -->

    <%- include('./partials/footer')  %>