<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- I can write HTML + JS -->

    <h1>Hello Ji mera fav no hai <%= 2+ 2+ 3 %></h1>
    <!-- <h1><%= Math.floor(Math.random() *100) %></h1> -->

    <h1>My number is <%= num %></h1>

    <% if(num%2==0){ %>
        <h1>Even NUM</h1>
    <% }else{ %>
        <h1>Odd NUM</h1>
    <% } %>
    
</body>
</html>