<% layout('layouts/boilerplate') %>

<%- include('../partials/navbar') %>
<div class="row">
    <div class="col-6 mx-auto">
        <form action="/products" method="post">

            <div class="mb-3">
                <label for="naam">Name:</label>
                <input type="text" class="form-control" type="text" name="name" id="naam" placeholder="name of the product">
            </div>


            <div class="mb-3">
                <label for="naam">Image:</label>
                <input type="text" class="form-control" type="text" name="img" id="naam" placeholder="Image URL of the product">
            </div>


            <div class="mb-3">
                <label for="paisa">Price:</label>
                <input type="number" class="form-control" type="text" name="price" id="paisa" placeholder="Price of the product">
            </div>

            <div class="mb-3">
                <label for="desc">Description:</label>
                <textarea  id="desc" rows="5" name="desc"  placeholder="Description of the product"> </textarea>
            </div>

            <button class="btn btn-sm btn-success">Add Product</button>
        </form>
    </div>
</div>


</body>
</html>