<% layout('layouts/boilerplate') %>

 
<div class="row">
    <div class="col-md-6 mx-auto">
        <%- include('../partials/flash') %> 
        <h1 class="display-6">Log In</h1>
        <form action="/login" method="post">

            <div class="mb-3">
                <label class="form-label" for="username"></label>
                <input class="form-control" type="text" name="username" id="username" placeholder="Username">
            </div>


            <div class="mb-3">
                <label class="form-label" for="password">Password:</label>
                <input class="form-control" type="password" name="password" id=" username" placeholder="Password">
            </div>
            <p class="fw-Light mt-2">Dont' have an acount, <a href="/register" >SignUp</a></p>
            <button type="submit" class=" btn btn-sm btn-success">Log In</button>
            

        </form>

    </div>
</div>